/*按钮*/
.icon_div {
    display: inline-block;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    padding: 2px;
}

/*.icon_div input {*/
    /*display: inline-block;*/
    /*!*width: 27px;*!*/
    /*height: 100%;*/
    /*cursor: pointer;*/
/*}*/

/*end--按钮*/
.zTreeDemoBackground{
    width: 1200px;
    height: auto;
    margin:0 auto
}
/*ztree表格*/
.ztree {
    padding: 0;
    border: 2px solid #CDD6D5;
}

.ztree li a {
    vertical-align: middle;
    height: 40px;
}

.ztree li > a {
    width: 100%;
}

.ztree li > a,
.ztree li a.curSelectedNode {
    padding-top: 0px;
    background: none;
    height: auto;
    border: none;
    cursor: default;
    opacity: 1;
}

.ztree li ul {
    padding-left: 0px
}

.ztree div.diy span {
    line-height: 40px;
    vertical-align: middle;
}

.ztree div.diy {
    /*height: 100%;*/
    width: 25%;
    line-height: 40px;
    border-top: 1px dotted #ccc;
    border-left: 1px solid #eeeeee;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    color: #6c6c6c;
    /*font-family: "SimSun";*/
    font-size: 12px;
    /*overflow: hidden;*/
}

.ztree div.diy:first-child {
    text-align: left;
    text-indent: 10px;
    border-left: none;
}

.ztree .head {
    background: #5787EB;
}

.ztree .head div.diy {
    border-top: none;
    border-right: 1px solid #CDD2D4;
    color: #fff;
    /*font-family: "Microsoft YaHei";*/
    font-size: 14px;
}
.ztree .ck{
    width: 100%;
  height: 100%;
    line-height: 100%;
}
/*end--ztree表格*/
